[submodule "platform/arduino/external/ArduinoCore-API"]
	path = platform/arduino/external/ArduinoCore-API
	url = https://github.com/arduino/ArduinoCore-API
[submodule "platform/arduino-avr/external/ArduinoCore-avr"]
	path = platform/arduino-avr/external/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr/
[submodule "external/libosmio-loader"]
	path = external/libosmio-loader
	url = https://github.com/rednicstone/libosmio-loader.git
